@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

:root{
    /*COLORS*/
    --bright-orange: hsl(31, 77%, 52%);
    --bright-orange-light: #f4cfa8;
    --dark-cyan: hsl(184, 100%, 22%);
    --dark-cyan-light:#99c3c6;
    --very-dark-cyan: hsl(179, 100%, 13%);
    --very-dark-cyan-light:#99b3b3;
    --transparent-white: hsla(0, 0%, 100%, 0.75);/*p*/
    --very-light-gray: hsl(0, 0%, 95%);/*bg h btn*/
    
    --font-lexend-deca: "Lexend Deca", sans-serif;/*400*/
    --font-big-sholders-display: "Big Shoulders Display", sans-serif;/*700*/
}



*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 93.75%;
}

body {
    background-color: var(--very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-weight: 400;
    position:relative;
    font-family: var(--font-lexend-deca);
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container img{
    width: 4rem;
}

.container div{
    max-width: 17.85rem;
    height: 30rem;
    padding: 2.6rem;
    display: grid;
    grid-template-rows: 2fr 2fr 5fr 1fr;
     
}
.container div h2 {
    color:var(--very-light-gray);
    font-size: 2.25rem;
    font-weight: 700;
    font-family: var(--font-big-sholders-display);
}

.container div button{
    width: 75%;
    border-radius: 25px;
    border:none;
    font-weight:500;
    font-size: 1rem;
    height: 3rem;
}


.container div p {
    margin-right: 0.25rem;
}

.sedans {
    background-color: var(--bright-orange);
    color: var(--bright-orange-light);
   
    
}
.sedans button {
    
    color: var(--bright-orange);
    background-color: var(--very-light-gray);
}

.sedans button:hover {
    color: var(--very-light-gray);
    background-color: var(--bright-orange);
    box-shadow: inset 0 0 0 2px var(--very-light-gray);
    cursor: pointer;
}

.suvs {
    background-color: var(--dark-cyan);
    color:var(--dark-cyan-light);
    
}
.suvs button{
    color:var(--dark-cyan);
    background-color: var(--very-light-gray);
}
.suvs button:hover {
    background-color: var(--dark-cyan);
    color: var(--very-light-gray);
    box-shadow: inset 0 0 0 2px var(--very-light-gray);
    cursor: pointer;
}

.luxury {
    background-color: var(--very-dark-cyan);
    color:var(--very-dark-cyan-light);
    
}

.luxury button{
    color: var(--very-dark-cyan);
    background-color: var(--very-light-gray);
}

.luxury button:hover {
    color: var(--very-light-gray);
    background-color: var(--very-dark-cyan);
    box-shadow: inset 0 0 0 2px var(--very-light-gray);
    cursor: pointer;
}

.attribution {
  position: absolute;
  bottom:0;
  left:50%;
  transform: translate(-50%, -50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (max-width:875px) {
    html{
        font-size: 10px;
    }
    
}

@media (max-width:625px){
    html {
        font-size: 15px;
    }
    
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem auto;
    }
    .attribution {
        
        transform: translate(-50%, 0);
        text-align: center;
      }
      .container div{
        max-width: 17.85rem;
        height: 26rem;
        padding: 2.6rem;

         
    } 

}